<div class="col-sm-8">
  <table align="center" class="table table-striped">
  <tbody>
    <% @todo_items.each do |todo_item| %>
        <tr>
          <td>place</td><td>link</td>
         <!-- <td><a href="<%= todo_item.link %>"><%= todo_item.place %></a> -->
          <% end %>
          <!--  <= link_to "", edit_todo_item_path(todo_items), class: 'glyphicon glyphicon-pencil', :data => {toggle: 'modal', target: '#myModal'} %>
           <= link_to "", todo_item, method:'delete', class: 'glyphicon glyphicon-trash' %> -->
  </tbody>
  </table>

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">add a place</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">where togo</h4>
        </div>
        <div class="modal-body">

        <= render partial: 'form' >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">add</button>
        </div>
      </div>
    </div>
  </div>
  </div>
