<div class="home_container">




<h1>where do you want togo</h1>
<br></br>

<h3>your bucket list mapped out</h3>

<!-- <br></br>

# <div id="home_login"><button type="button" class="btn btn-default"><%= link_to login_path %></button></div> -->


</div>


