/*#home_contain {
  text-align: center;
}*/
body {
}

.home_container{
  background-image: url(http://res.cloudinary.com/dg5jcmuly/image/upload/v1438222955/spot_f64lfw.jpg);
  height: 100%;
  width: cover;
}
h1 {
  text-align: center;
  padding-top: 300px;
  font-size: 80px;
  color: #F2F2EB;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: #F2F2EB;
}

#home_login {
  text-align: center;
  font-family: arial;
  color: white;

}

.btn {
   border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}


