.session_new {
  background-image: url(http://res.cloudinary.com/dg5jcmuly/image/upload/c_scale,w_1300/v1438318190/bar_sm7abb.png);
  height: 100%;
  width: 100%;
}

.col-sm-offset-4 {
  margin-top: 50px;
}
